
<div  class="test">
<p><%= params[:question] %><p>
<p> -You <p>
</div>
<br>
<div class="test" id="answer">
<p><%= @answer %><p>
<p> -Le coach <p>
</div>


<h2><%= link_to "Repose moi la question!", ask_path %></h2>
